.components-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.components-container > * {
  flex: 1;
}

/* Style des composants */
.component {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.chart-container{
  background: #F6F8FC;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  border: 1px solid #e0e0e0;
}

.icon-label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.important-text {
  font-size: 14px;
  font-weight: 500;
}
