<app-menu [tabSelected]="0"></app-menu>
<div class="page">

  <div class="components-container">
    <div class="chart-container" >
      <app-new-users-chart></app-new-users-chart>
    </div>
    <div class="chart-container">
      <app-active-users-chart (nbActions)="handleNbActionsComputed($event)"></app-active-users-chart>
    </div>
    <div class="chart-container">
      <app-challenge-participation-chart (nbParticipantsByChallenge)="handleChallengeParticipationsComputed($event)"></app-challenge-participation-chart>
    </div>
    <div class="chart-container">
      <app-event-participation-chart (nbParticipantsByEvent)="handleEventParticipationsComputed($event)"></app-event-participation-chart>
    </div>
  </div>

  <div class="components-container">
    <div class="chart-container">
      <span class="icon-label">
        <i class="pi pi-users" style="font-size: 1.5rem; color: #3170F9"></i>
        <span class="important-text">{{ nbUsers }} utilisateurs au total</span>
      </span>
    </div>
    <div class="chart-container">
      <span class="icon-label">
        <i class="pi pi-mobile" style="font-size: 1.5rem; color: #11B5AE"></i>
        <span class="important-text">{{ nbActions }} interactions</span>
      </span>
    </div>
    <div class="chart-container">
      <span class="icon-label">
        <i class="pi pi-flag" style="font-size: 1.5rem"></i>
        <span class="important-text">{{ challengeAverageParticipants.toFixed(1) }} particpants / défi</span>
      </span>
    </div>
    <div class="chart-container">
      <span class="icon-label">
        <i class="pi pi-calendar" style="font-size: 1.5rem; color: #3170F9"></i>
        <span class="important-text">{{ eventAverageParticipants.toFixed(1) }} participants / événement</span>
      </span>
    </div>
  </div>

  <div class="components-container">
    <div class="chart-container" [style]="{flex: 57}">
      <app-activity-by-status-chart></app-activity-by-status-chart>
    </div>
    <div class="chart-container" [style]="{flex: 26}">
      <app-new-challenges-chart></app-new-challenges-chart>
    </div>
    <div class="chart-container" [style]="{flex: 26}">
      <app-new-events-chart></app-new-events-chart>
    </div>
  </div>

  <div class="components-container">
    <div class="chart-container" [style]="{flex: 26}">
      <app-status-chart></app-status-chart>
    </div>
    <div class="chart-container" [style]="{flex: 26}">
      <app-gender-chart></app-gender-chart>
    </div>
    <div class="chart-container" [style]="{flex: 57}">
      <app-activity-by-gender-chart></app-activity-by-gender-chart>
    </div>
  </div>
</div>
