<div class="page flex justify-content-center" style="margin-top: 0.5rem">
  <form [formGroup]="addMaterialForm" (ngSubmit)="submit()">
    <span class="p-float-label custom-margin">
      <input pInputText id="serialField" required formControlName="name">
      <label for="serialField">Nom de l'événement</label>
    </span>
    <span class="p-float-label custom-margin">
      <input pInputText id="brandField" required formControlName="location">
      <label for="brandField">Localisation</label>
    </span>
    <span class="p-float-label custom-margin">
      <input pInputText id="modelField" required formControlName="description">
      <label for="modelField">Description</label>
    </span>
    <span class="p-float-label custom-margin">
      <p-calendar id="startDate" [required]="true" formControlName="startDate" />
      <label for="startDate">Date de début</label>
    </span>
    <span class="p-float-label custom-margin">
      <p-calendar id="endDate" [required]="true" formControlName="endDate" />
      <label for="endDate">Date de fin</label>
    </span>

  </form>
</div>
