<app-menu [tabSelected]="2"></app-menu>
<div class="card">
  <p-toast></p-toast>
  <p-table
    #dt
    [value]="challenges"
    [rowHover]="false"
    [rows]="10"
    [columns]="columns"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['name', 'startDate', 'endDate', 'description', 'type']"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Défis {first} à {last} sur {totalRecords}"
    [filterDelay]="0"
    [scrollable]="true"
    scrollHeight="62vh"
  >

    <ng-template pTemplate="caption">
      <div class="flex" style="align-items: center">
        <span style="margin-left: 1rem;">
            <button (click)="resetChallenges()"
                    [ngStyle]="{ 'cursor':  'pointer',
                    'background': 'none', 'border': 'none', 'vertical-align': 'middle' }">
              <span class="pi pi-undo" style="font-size: 1.5rem" ></span>
            </button>
        </span>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            class="p-inputtext p-component p-element"
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Recherche par mot clé"
          />
          <span style="margin-left: 3rem">
            <p-button icon="pi pi-plus" (click)="openAddDialog()" ></p-button>
          </span>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.pSortableColumn" pFrozenColumn [frozen]="col.frozen">
          <div class="flex justify-content-between align-items-center">
            {{col.header}}
            <p-sortIcon *ngIf="col.header != ''" [field]="col.pSortableColumn"></p-sortIcon>
          </div>
        </th>
      </tr>
      <tr>
        <!--<th style="min-width:15rem">
          <p-columnFilter type="text" field="name" (input)="onFilter($event, 'name')"
                          (keyup.enter)="loadEvents()"
          ></p-columnFilter>
        </th>
        <th style="min-width:15rem">
          <p-columnFilter type="text" field="location" (input)="onFilter($event, 'location')"
                          (keyup.enter)="loadEvents()"
          ></p-columnFilter>
        </th>
        <th style="min-width:15rem">
          <p-columnFilter type="text" field="description" (input)="onFilter($event, 'description')"
                          (keyup.enter)="loadEvents()"
          ></p-columnFilter>
        </th>
        <th style="min-width:15rem">
          <p-columnFilter type="text" field="startDate" (input)="onFilter($event, 'startDate')"
                          (keyup.enter)="loadEvents()"
          ></p-columnFilter>
        </th>
        <th style="min-width:15rem">
          <p-columnFilter type="text" field="endDate" (input)="onFilter($event, 'endDate')"
                          (keyup.enter)="loadEvents()"
          ></p-columnFilter>
        </th>
        <th></th>-->
    </ng-template>

    <ng-template pTemplate="body" let-challenge>
      <tr class="p-selectable-row" [pSelectableRow]="challenge">
        <td pFrozenColumn>
          <span class="p-column-title">Nom</span>
          {{ challenge.name }}
        </td>
        <td>
          <span class="p-column-title">Description</span>
          {{ challenge.description }}
        </td>
        <td >
          <span class="p-column-title">Date de début</span>
          {{ challenge.startDate | date}}
        </td>
        <td >
          <span class="p-column-title">Date de fin</span>
          {{ challenge.endDate | date}}
        </td>
        <td >
          <span class="p-column-title">Type de challenge</span>
          {{ challenge.type }}
        </td>
        <td>
          <div class="button-container">
            <p-button pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [rounded]="true"
                      (click)="openEditionDialog(challenge)"></p-button>
            <p-button  icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" [rounded]="true"
                       (click)="openDeletionDialog(challenge)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucun événement trouvé</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Header" [(visible)]="isAddDialogOpen" [modal]="true" [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false">
  <ng-template pTemplate="header">
    <h3>Créer un challenge</h3>
  </ng-template>
  <div class="center-content">
    <app-add-challenge (eventChallengeAdded)="validChallenge($event)" #addChallengeForm> </app-add-challenge>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="closeAddDialog()" label="Annuler" pAutoFocus [autofocus]="true"></p-button>
    <p-button icon="pi pi-calendar-plus" (click)="submitCreationForm()" label="Enregistrer" pAutoFocus type="submit"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Header" [(visible)]="isEditionDialogOpen" [modal]="true" [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false">
  <ng-template pTemplate="header">
    <h3>Modification</h3>
  </ng-template>
  <div class="center-content">
    <app-edit-material [event]="selectedChallenge"></app-edit-material>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="closeEditionDialog()" label="Annuler" pAutoFocus [autofocus]="true"></p-button>
    <p-button icon="pi pi-pencil" label="Modifier" pAutoFocus type="submit"
              [disabled]="true"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Header" [(visible)]="isDeletionDialogOpen" [modal]="true" [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false">
  <ng-template pTemplate="header">
    <h3>Suppression</h3>
  </ng-template>
  <div class="center-content">
    <app-remove-material [event]="selectedChallenge"></app-remove-material>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="closeDeletionDialog()" label="Annuler" pAutoFocus [autofocus]="true"></p-button>
    <p-button icon="pi pi-trash" label="Supprimer" pAutoFocus type="submit"
              [disabled]="true"></p-button>
  </ng-template>
</p-dialog>

